page-sign-up {

  .back-button.show-back-button {
    display: none;
    
}
  img{
    width:100%;
  }
  .divForm{
 align-items: center;
 padding: 5px;
margin-right: auto;


// padding-left: 20px;
// padding-right: 20px;

  }

    .txtEmail{
        width: 82%;
        height: 35px;
        font-size: 16px;
        border-radius: 50px;
        border:2px solid #215175;
        text-align: center;
        margin-right: 8px;
        margin-right: 12px;

    }
     .txtPass{
       width:85%;
    height: 35px;
       font-size: 16px;
      border-radius: 50px;
         border:2px solid #215175;
        text-align: center;
        margin-right: 12px;
     }
 

    .divBtn{
      width: 70%;
      height: 40px;
      font-size: 16px;
      border-radius: 50px;
      margin: 10px 12% ;
      color: beige;
      margin-top: 48px;
      margin-right: 40px;
      background-color: #215175;
    }


*{
  margin: 0;
  padding: 0;
}
.containee{
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%,-50%)
}

 .hg{
   width: 100px;
   margin-left: 40px;
 }

}
